<!doctype html>
<html lang="en">
<head>
    {% include 'staticFiles.html' %}
</head>

  <body>
	{% include 'header.html' %}
    {% if context['title'] %}
        <title>{{ context['title'] }}</title>
    {% endif %}

      <main role="main" class="container">
          <h4 class="h4">{{context['AppNameAlias']}}</h4>

            <div id="appMenu">
              <form method="POST" action="">
                <div class="form-field">{{ form.textboxInput.label }} {{ form.textboxInput }} <input type="submit" value="Submit"> </div>
              </form>

            </div>

            {% if context.menu_items %}
            	{% include 'appMenuItemsHorizontal.html' %}
            {% endif %}

            <div id="AppMenuContent">
                {% block subitem_page %}
                {% endblock %} {# subitem_page #}
            </div>

      </main>
	{% include 'footer.html' %}
  </body>
</html>
