{% extends 'StockAnalysis/index.html' %}

{% block subitem_page %}
	{% if context %}
	<div id="strategies">

				<br>
		<p>Based on data as of : {{context.cfg.updated_time | safe}}</p>
				<p>Data not available. Under construction.</p>

<!--		<p>If day trading, utilize intra-day pricing to make decisions-->

<!--		<p>If long-term trading in the order of months. Utilize weekly (5 day) moving averages (as reference) to assess strategies-->

<!--		<p>Strategy; Moving Average for reference-->
<!--		  Day trading; intra-day (Hourly?)-->
<!--		  1 - 6 months; Weekly-->


<!--		<p>If account value (asset + cash) is 100%, utilize the following strategy-->
<!--		 Always preserve 10% cash irrespective of the market conditon or asset/stock trend.-->
<!--		If asset has equal chances of going up or down, Have 50% value in cash-->
<!--		If asset has more chance of going up than down, have 25% value in cash-->
<!--		If asset has more chance of going down, Sell some position to raise cash-->

<!--		<br>-->
<!--		<p>If an asset had a signficant bounce relative to  reference line i.e. 2 times standard deviation:-->
<!--			<p>A pull back is expected: Optionally, Sell 50% (or more) of asset holding to preserve some capital for future buying power.-->
<!--			<p>A pull back is not expected: Optionally, Sell 20% (or less) of asset to preserve some capital for future buying power.-->

<!--		<br>-->
<!--		<p>If an asset had a signficant drop relative to  reference line i.e. 2 times standard deviation:-->
<!--			<p>A bounce is expected: Optionally, buy 40% (or more) of asset holding to preserve some capital for future buying power.-->
<!--			<p>A bounce is not expected: Optionally, buy 20% (or less) of asset to preserve some capital for future buying power.-->


	</div>


	{% endif %}
{% endblock %} {# subitem_page #}

