digitalmodel
assetutilities

pandas
plotly
dash
pyyaml

bumpver
webcolors
matplotlib
scipy
xlrd
openpyxl
imgkit
xmltodict
OrcFxAPI

docx
deepdiff
pytest
sympy

kaleido
tabula
pytest
deepdiff

rainflow
pydantic
black
isort
poetry

tabulate
PyPDF2
xlsxwriter

beautifulsoup4
requests
scrapy

loguru

# ruamel.yaml<0.18.0
ruamel.yaml