{% extends 'bseedata/index.html' %}
{% block subitem_page %}

                    <div id="introduction">
                        <br>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h4>Overview</h4>
                        </div>
                        <p>
                            The publicly available BSEE data is analyzed to help gain insights into general offshore GoM project and field development.
                            <br>
                            The general methodology used is given below:
                            <br>
                            <img src="static/bseedata/images/BSEEDataMethodology.PNG" class="img-fluid" alt="Responsive image">

                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h4>Data Usage</h4>
                            </div>
                            <br>
                            The following features are also available upon customer request:
                            <br>
                            <ul>
                                <li>Add directional drilling statistical summary</li>
                                <li>Make well directional drilling data available for download</li>
                                <li>Provide all api12 information (includes side tracks for drill-down on each well information)</li>
                                <li>Plot only currently producing 3D well paths for easy assessment of which well bores are currently active</li>
                                <li>Improve well paths by color coding certain sections for better visuals : Water depth section as blue and completion section (if available) as red</li>
                                <li>Add other data tab for .xlsx with all field data for 1 shot download </li>
                                <li>Provide casing or well tubular data in more standardized format</li>
                                <li>Timeline visuals of well construction and completion with all key activities including open hole activities</li>
                                <li>Detailed financial (or economic) analysis along with project NPV (Net present value) or IRR (Internal rate of return) </li>
                                <li>A review of reserves vs. production realized to help shed light into accounting and inconsistent reserves reporting practices among integrated and independent energy entities. very useful for financial analysis and oil and gas well asset analysis</li>
                                <li>Assess field development trends in a given region (all over the world) and choose appropriate development plan for future fields</li>
                                <li>Add more well data offshore (Norway, Canada, Brazil etc.) and onshore regions</li>
                                <li>Automate data refresh from all application regions so the application is abreast with data sources</li>
                                <li>Process data in real-time</li>
                                <li>Identify drill centers by grouping wells within a distance. Utilize Machine learning KNN-Cluster method to identify the well within certain drill center radius</li>
                                <li>Provide GoM assets (pipelines, subsea infrastructures etc.) in a given region based on BSEE data center data. Useful for new field acquisition, exploration, installation operations etc.</li>
                                <li>Correct Rig Days (Assign open_hole logging/ops to Drilling instead of Completions).</li>
                            </ul>

                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h4>Other Tools</h4>
                            </div> 
<p>
                            Others tool are available to assist in new installation operations in GoM. For example Moor vision from intermoor helps in this regards
                            https://intermoor.com/technologies/moorvision/
                        </p>
                        <!--        <h4>Services</h4>-->
                        <!--        <p>            Only handful of projects are analyzed. If any additional GoM (or other region) projects are to be analyzed, please submit a userform or email to support@aceengineer.com.-->
                        <!--        </p>-->
                    </div>  {# introduction #}



{% endblock %} {# subitem_page #}