{% extends 'bseedata/index.html' %}
{% block subitem_page %}

    <script type="text/javascript">
        well_location_df_json = JSON.parse({{context['data']['well_location_df_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        well_drill_info_df_json = JSON.parse({{context['data']['well_drill_info_df_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        well_completion_info_df_json = JSON.parse({{context['data']['well_completion_info_df_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        completion_perforations_json = JSON.parse({{context['data']['completion_perforations_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        well_tubulars_df_json = JSON.parse({{context['data']['well_tubulars_df_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        well_activity_open_hole_json = JSON.parse({{context['data']['well_activity_open_hole_json']  | tojson | safe }})
    </script>
    <script type="text/javascript">
        well_activity_summary_json = JSON.parse({{context['data']['well_activity_summary_json']  | tojson | safe }})
        well_activity_summary_json_header=["WELL_NAME", "API12", "RIG_NAME", "WAR_START_DT", "WAR_END_DT", "BOREHOLE_STAT_DESC", "DRILLING_MD", "DRILL_FLUID_WGT"]
    </script>
    <script type="text/javascript">
        well_activity_remarks_json = JSON.parse({{context['data']['well_activity_remarks_json']  | tojson | safe }})
        well_activity_remarks_json_header=["WELL_NAME", "API12", "WAR_START_DT", "TEXT_REMARK"]
    </script>



<div id="wellData">
<h4>Well Data</h4>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellLocationData">Well Location Data</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_location_data.csv', well_location_df_json);">Download as CSV</button>
 <p><br></p>
<div id="wellLocationData" class="collapse">

{{context.data.well_location_df_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellDrillingInformation">Well Drilling Information</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_drill_info.csv', well_drill_info_df_json);">Download as CSV</button>
 <p><br></p>
<div id="wellDrillingInformation" class="collapse">

{{context.data.well_drill_info_df_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#hydrocarbonBearingInterval">Hydrocarbon Bearing Interval</button>
<div> <br> </div>
<div id="hydrocarbonBearingInterval" class="collapse">
{{context.data.hydrocarbon_bearing_interval_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#geologyMarkers">Geology Markers</button>
<div> <br> </div>
<div id="geologyMarkers" class="collapse">
{{context.data.geology_markers_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellCompletionInformation">Well Completion Information</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_completion.csv', well_completion_info_df_json);">Download as CSV</button>
 <p><br></p>
<div id="wellCompletionInformation" class="collapse">
{{context.data.well_completion_info_df_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellCompletionPerforations">Well Completion Perforations</button>
<div> <br>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_completion_perforations.csv', completion_perforations_json);">Download as CSV</button>
 <p><br></p>
</div>
<div id="wellCompletionPerforations" class="collapse">
    {{context.data.completion_perforations_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellTubularRawInformation">All Wells, Tubulars Raw Information</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_tubulars.csv', well_tubulars_df_json);">Download as CSV</button>
 <p><br></p>
<div id="wellTubularRawInformation" class="collapse">
{{context.data.well_tubulars_df_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#openHoleActivities">Open Hole Activities</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_activity_open_hole.csv', well_activity_open_hole_json);">Download as CSV</button>
 <p><br></p>
<div id="openHoleActivities" class="collapse">
{{context.data.well_activity_open_hole_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellActivitySummary">Well Activity Summary</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_activity_summary.csv', well_activity_summary_json, well_activity_summary_json_header);">Download as CSV</button>
 <p><br></p>
<div id="wellActivitySummary" class="collapse">
{{context.data.well_activity_summary_html | safe}}
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#wellActivityRemarks">Well Activity Remarks</button>
<div> <br> </div>
  <button type="button" onclick="downloadCSVFromJson('{{ context.data.field_summary_df_dict[0]['Field Nickname'] | safe}}_well_activity_remarks.csv', well_activity_remarks_json, well_activity_remarks_json_header);">Download as CSV</button>
 <p><br></p>
<div id="wellActivityRemarks" class="collapse table-wrapper-scroll-y my-custom-scrollbar">
{{context.data.well_activity_remarks_html | safe}}
</div> {# wellActivityRemarks #}

<a id=dummy_download> </a>

{% endblock %} {# subitem_page #}