{% extends 'StockAnalysis/index.html' %}

{% block subitem_page %}
	{% if context %}
	<br>
		<p>Based on data as of : {{context.cfg.updated_time | safe}}</p>
		<h4 class="h4">Institution Info | {{context.cfg.ticker | safe}}</h4>
		<br>

		<div class="chart" id="institution">
			<script>
				var institution = {{context.plot_data.institution | safe}};
				Plotly.newPlot('institution', institution.data, institution.layout);
			</script>
		</div>
		<br>
		<p>Interpreting the plot:
			<ul>
			  <li>Size of bubble is normalized based on number of shares held by the top institution.</li>
			  <li>More historical institution data will provide change visualization for interpreting trends.</li>
			</ul>
		</p>
		<br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.4.0/json2html.min.js"></script>

	{% endif %}
{% endblock %} {# subitem_page #}

