{% extends 'StockAnalysis/index.html' %}

{% block subitem_page %}
	{% if context %}
	{% if tobeupdated %}
		<p>Based on data as of : {{context.cfg.updated_time | safe}}</p>
		<h3 class="h3">Option Analysis</h3>
		<p>The contract cost is not included in the value analysis</p>
		<div class="chart" id="call_analysis">
			<script>
				var call_analysis = {{context.plot_data.call_analysis | safe}};
				Plotly.newPlot('call_analysis', call_analysis.data, call_analysis.layout);
			</script>
		</div>
	{% else %}
		<br>
		<p>Data not available. Under construction.</p>
	{% endif %}
	{% endif %}
{% endblock %} {# subitem_page #}

