{% extends 'StockAnalysis/index.html' %}

{% block subitem_page %}
	{% if context %}
	<div id="summary">
		<br>
		<p>Based on data as of : {{context.cfg.updated_time | safe}}</p>
		<h4 class="h4">Breakout Trends | {{context.cfg.ticker | safe}}</h4>
				<table id="breakoutTrends" class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">Description</th>
							<th scope="col">Value</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>

		<h4 class="h4">Sector | {{context.cfg.ticker | safe}}</h4>
		<p>Sector is : {{context.cfg.sector | safe}} </p>
		Other related tickers in this sector are: {{context.cfg.ticker_list_in_sector | safe}}
		<br>
		<br>

		<h4 class="h4">Data Quality | {{context.cfg.ticker | safe}}</h4>
		<div id="dataQuality"></div>
			<p>Data not available. Under construction.</p>
		<br>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.4.0/json2html.min.js"></script>
	<script>
		var transform = {tag: 'tr',
			children: [{"tag": "td","html": "${Description}"},{"tag": "td","html": "${Value}"}]
			};
		var data = {{context.cfg.breakout_trends | safe}};
		$('#breakoutTrends > tbody ').json2html(data, transform);

		var template = {'<>':'div','html':'${Description} ${Value}'};
		var data = {{context.cfg.status | safe}};
		$("#dataQuality").json2html(data,template);
	</script>

	{% endif %}
{% endblock %} {# subitem_page #}

