{% extends 'GoMFields/index.html' %}
{% block subitem_page %}

	{% if context %}
        <br>

        <h5>Well Oil Production</h5>
        Provided upon request
            <br>

        <h5>Cummulative Oil Production Rate by Month</h5>
            <div class="chart" id="block_cummulative_production_by_month">
                <script>
                    var block_cummulative_production_by_month = {{context.plot_data.block_cummulative_production_by_month | safe}};
                    Plotly.newPlot('block_cummulative_production_by_month', block_cummulative_production_by_month.data, block_cummulative_production_by_month.layout);
                </script>
            </div>
            <br>

        <h5>Oil Production Rate by Month</h5>
            <div class="chart" id="block_production_rate_by_month">
                <script>
                    var block_production_rate_by_month = {{context.plot_data.block_production_rate_by_month | safe}};
                    Plotly.newPlot('block_production_rate_by_month', block_production_rate_by_month.data, block_production_rate_by_month.layout);
                </script>
            </div>
            <br>

        <h5>Cummulative Production by Well</h5>
            <div class="chart" id="production_by_well">
                <script>
                    var production_by_well = {{context.plot_data.production_by_well | safe}};
                    Plotly.newPlot('production_by_well', production_by_well.data, production_by_well.layout);
                </script>
            </div>
            <br>

        <h5>Production Rate by Well</h5>
            <div class="chart" id="production_rate_by_well">
                <script>
                    var production_rate_by_well = {{context.plot_data.production_rate_by_well | safe}};
                    Plotly.newPlot('production_rate_by_well', production_rate_by_well.data, production_rate_by_well.layout);
                </script>
            </div>
            <br>


	{% endif %}
{% endblock %} {# subitem_page #}