<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- My CSS and JS -->
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
</head> 

  <body>
	{% include 'header.html' %}
      <main role="main" class="container">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Capabilities</h1>
          </div> 
          <p>
              The analytical data are provided as a web service (data as service) with json results for further end use.
              These results can be of further use for engineering analysis, digital twin analysis and other third party verification purposes. The objective of the DigitalTwinFeed portal is to keep the results in a state of readiness and ready to use for making daily status, operational and strategic use.

          </p>
          <p>
              The engineering data provided will comply with the industry codes and standards where applicable. Additionally, all data is provided with data context, quality checks (if applicable) and historical data (if available) to quickly relate and assimilate the data.
              <br>
          </p>

          <br>
          <h5>Energy Engineering</h5>
          <p>Onshore and Offshore Energy engineering consisting of renewables (wind and wave) and oil and gas. </p>
          The Shallow Water Offshore Analysis comprises of following:
          <li>Foundation strength and stability for structures</li>
          <li>Fatigue analysis and foundation centralizer placement & centralizer gap optimization</li>
          <li>Platform Centralizer Interface design</li>
          <li>Support energy related drilling, production and workover operations</li>
          <li>Analysis performed per guidelines of Institute of Petroleum (IP Guidelines) for fixed platform well riser systems</li>

          <br>
          <h5>Structural Design and Dynamic Analysis</h5>
          Subsea Component design with following capabilities:
          <li>Wall thickness sizing per API, DNV and 30 CFR 250 requirements</li>
          <li>Pipeline analysis per DNV-OS-F101</li>
          <li>Steel catenary risers (SCR)</li>
          <li>Flexible catenary risers (FCR)</li>
          <li>Top tensioned risers (TTR)</li>
          <li>Free standing hybrid risers (FSHR)</li>
          <li>Single line offset risers (SLOR)</li>
          <li>Wall thickness sizing</li>
          <li>High pressure and high temperature (HPHT) applications</li>
          <li>Riser analysis and design verification performed per API-RP-2RD, API-STD-2RD and 30 CFR 250 code of federal regulations</li>


          Subsea structural strength/extreme analysis as follows:
          <li>Riser configuration optimization and tension requirements</li>
          <li>Operability analysis for day to day and extreme events (loop currents, El Nino etc.)</li>
          <li>Drift-off/drive-off</li>
          <li>Watch circles </li>
          <li>Weak point analysis</li>
          <li>Hang-off, installation/retrieval analysis</li>
          <li>VIV and wave fatigue analysis</li>
          <li>Analysis conducted per API 16Q, API-RP-17G and ISO-13628-7</li>

          <br>
          Subsea structural dynamic fatigue analysis:
          <li>VIV analysis using industry leading softwares (VIVA, Shear7) for subsea structures such as risers and conductor systems.</li>
          <li>Detailed fatigue analysis of pipeline spans or jumper structures using DNV-RP-F105 code</li>

          <br>
          Detailed floater analysis with following capabilities:
          <li>Hull Structural Analysis including substructures such as Girders, bulkheads, outer shell, inner shells etc.</li>
          <li>Floater motion RAOs generation</li>
          <li>Drift-off analysis and watch circle generation for emergency disconnect</li>
          <li>Air gap analysis for floating structures</li>

          <br>
          <h5>Structural Integrity Analysis </h5>
          <li>Fitness For Service (FFS) for components to help determine fit for purpose or otherwise</li>
          <li>Weld, threaded and flange fatigue analysis and S-N fatigue methods</li>
          <li>Engineering criticality assessment (ECA) to determine initial flaw size requirements</li>
          <li>Elasto-plastic analysis (non-linear methods) for HPHT applications</li>
          <li>Thermal and pressure loading analysis</li>

          <br>
          <br>
          <h5>Measured Data Analysis</h5>
          <li>Measured dynamic and time trace data analysis such as rigid jumper fatigue analysis, wellhead fatigue analysis</li>
          <li>Metocean data analysis</li>

          <br>
          <br>
      </main> 
	{% include 'footer.html' %}
  </body>
</html>