<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- My CSS and JS -->
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">
</head> 

  <body>
	{% include 'header.html' %}
      <main role="main" class="container">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Services</h1>
          </div>
          <h5>Open Source Data Applications</h5>
          <ul>
<!--              <li><a href="/services/bseedata">BSEE Historical Data - GoM Assets</a></li>-->
              <li><a href="/services/GoMFields">BSEE Historical Data - GoM Blocks</a></li>
              <li><a href="/services/StockAnalysis">Stock Analysis</a></li>
          </ul>
          <br>
          Services are available for following engineering data and analysis. <p>A registered account is required. Please <a href="/contact">Contact Us</a> for further information.</p>
          <h5>Energy Applications</h5>
          <ul>
              <li><a href="/services/BuoySALM">Buoy - SALM</a></li>
              <li><a href="/services/BuoyCALM">Buoy - CALM</a></li>
              <li><a href="/services/BuoyCoupled">Buoy - Coupled</a></li>
              <li><a href="/services/FixedWindTurbine">Offshore - Shallow-Water Wind Turbine</a></li>
              <li><a href="/services/FloatingWindTurbine">Offshore - Floating Wind Turbine</a></li>
              <li><a href="/services/OffshorePipeline">Offshore - Pipeline</a></li>
              <li><a href="/services/OffshoreRiser">Offshore - Riser</a></li>
              <li><a href="/services/Floaters">Floaters</a></li>
              <li><a href="/services/Metocean">Historical Data - GoM Metocean Data (NOAA)</a></li>
              <li><a href="/services/OnshorePipeline">Onshore - Pipeline</a></li>
          </ul>
          <h5>Structural Analysis</h5>
          <ul>
              <li><a href="/services/FFS">Fitness for Service (FFS)</a></li>
              <li><a href="/services/Pipings">Pipings</a></li>
              <li><a href="/services/PressureVessels">Pressure Vessels</a></li>
              <li><a href="/services/Foundations">Foundations</a></li>
              <li><a href="/services/Fatigue">Fatigue</a></li>
          </ul>

          <br>
      </main>
	{% include 'footer.html' %}
  </body>
</html>